absl-py==0.9.0
alabaster==0.7.12
altair==2.0.1
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.2
annoy==1.11.5
asn1crypto==1.3.0
astor==0.6.2
astroid==2.3.3
astropy==3.1.2
atomicwrites==1.3.0
attrs==19.1.0
awscli==1.18.36
azure-common==1.1.25
azure-nspkg==3.0.2
azure-storage==0.36.0
Babel==2.8.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
bcolz==1.2.1
beautifulsoup4==4.8.2
bitarray==0.8.3
bkcharts==0.2
bleach==3.1.0
blis==0.4.1
bokeh==2.0.0
boto==2.49.0
boto3==1.7.7
botocore==1.15.36
Bottleneck==1.2.1
bz2file==0.98
cachetools==2.0.1
catalogue==1.0.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
cliff==2.8.1
cloudpickle==1.3.0
clyent==1.2.2
cmd2==0.8.5
cmdstanpy==0.4.0
colorama==0.4.3
conda==4.8.2
conda-build==3.17.8
conda-package-handling==1.6.0
conda-verify==3.1.1
configparser==3.5.0
contextlib2==0.5.5
convertdate==2.2.0
cryptography==2.8
cssselect==1.0.3
cycler==0.10.0
cymem==1.31.2
Cython==0.29.6
cytoolz==0.9.0.1
dask==1.1.4
decorator==4.4.2
defusedxml==0.5.0
descartes==1.1.0
dill==0.3.1.1
Distance==0.1.3
distributed==1.28.1
docopt==0.6.2
docutils==0.14
dpu-utils==0.2.9
entrypoints==0.3
ephem==3.7.7.1
et-xmlfile==1.0.1
extratools==0.8.2.1
fastai==0.6
fastcache==1.0.2
fasttext==0.9.1
fbprophet==0.6
feather-format==0.4.0
filelock==3.0.12
Flask==1.1.1
Flask-Cors==3.0.9
flatten-json==0.1.7
ftfy==4.4.3
future==0.18.2
gast==0.2.2
gensim==3.4.0
gevent==1.4.0
glob2==0.7
gmpy2==2.0.8
google-auth==1.11.3
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
gpt-2-simple==0.7.1
graphviz==0.8.2
greenlet==0.4.15
grpcio==1.11.0
h5py==2.9.0
hdfs==2.1.0
heapdict==1.0.0
holidays==0.10.2
html5lib==1.0.1
idna==2.8
ijson==2.3
imageio==2.5.0
imagesize==1.2.0
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
isoweek==1.3.3
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.16.0
jeepney==0.4
jellyfish==0.7.2
Jinja2==2.10
jmespath==0.9.3
joblib==0.14.1
json5==0.9.1
jsonpath-rw==1.4.0
jsonpath-rw-ext==1.1.3
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==6.1.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.0
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.0
jupyterlab==1.2.6
jupyterlab-launcher==0.4.0
jupyterlab-server==1.0.6
jupyterthemes==0.19.1
kaggle-cli==0.12.13
Keras==2.1.6
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==18.0.0
kiwisolver==1.0.1
korean-lunar-calendar==0.2.0
ktext==0.31
lazy-object-proxy==1.3.1
lesscpy==0.13.0
libarchive-c==2.8
lief==0.9.0
lightgbm==2.3.1
llvmlite==0.28.0
locket==0.2.0
loguru==0.4.1
LunarCalendar==0.0.9
lxml==4.6.2
Markdown==2.6.11
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
MechanicalSoup==0.8.0
mistune==0.8.4
mizani==0.4.6
mkl-fft==1.0.10
mkl-random==1.0.2
more-itertools==8.2.0
mpmath==1.1.0
msgpack==0.6.1
msgpack-numpy==0.4.3
msgpack-python==0.5.6
multipledispatch==0.6.0
multiprocess==0.70.5
murmurhash==0.28.0
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==4.4.0
networkx==2.4
nltk==3.4.5
nmslib==1.7.2
nose==1.3.7
notebook==6.0.1
numba==0.43.1
numexpr==2.6.9
numpy==1.18.1
numpydoc==0.9.2
oauthlib==3.1.0
olefile==0.46
opencv-python==4.2.0.32
openpyxl==3.0.3
opt-einsum==3.2.0
packaging==20.3
palettable==3.1.0
pandas==1.0.1
pandas-summary==0.0.7
pandocfilters==1.4.2
parso==0.6.1
partd==1.1.0
path==13.1.0
path.py==10.3.1
pathlib==1.0.1
pathlib2==2.3.5
pathos==0.2.1
patsy==0.5.1
pbr==4.0.2
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.1
pkginfo==1.5.0.1
plac==0.9.6
plotly==4.5.0
plotnine==0.3.0
pluggy==0.9.0
ply==3.11
pox==0.2.3
ppft==1.6.4.7.1
prefixspan==0.5.2
preshed==1.0.1
prettytable==0.7.2
progressbar2==3.34.3
prometheus-client==0.6.0
prompt-toolkit==3.0.3
protobuf==3.11.3
psutil==5.7.0
ptyprocess==0.6.0
py==1.8.1
pyarrow==0.16.0
pyasn1==0.4.2
pyasn1-modules==0.2.8
pybind11==2.2.3
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.2
pyemd==0.5.1
pyflakes==2.1.1
Pygments==2.5.2
PyHive==0.5.1
pylint==2.4.4
PyMeeus==0.3.7
pyodbc==4.0.26
PyOpenGL==3.1.5
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyperclip==1.6.0
Pyphen==0.9.4
pyrsistent==0.14.11
PySocks==1.7.1
pystan==2.19.1.1
pytest==4.5.0
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
python-dateutil==2.8.1
python-Levenshtein==0.12.0
python-utils==2.3.0
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.1
pyzmq==18.1.1
QtAwesome==0.6.1
qtconsole==4.7.1
QtPy==1.9.0
regex==2017.4.5
requests==2.23.0
requests-file==1.4.3
requests-oauthlib==1.3.0
retrying==1.3.3
rope==0.16.0
rsa==3.4.2
ruamel-yaml==0.15.87
s3transfer==0.3.3
scikit-image==0.14.2
scikit-learn==0.20.3
scipy==1.4.1
seaborn==0.10.0
SecretStorage==3.1.1
Send2Trash==1.5.0
sentencepiece==0.1.85
-e git+git@github.com:eladhoffer/seq2seq.pytorch.git@769c9995594ea0059075280f49a86ac4dace28bd#egg=seq2seq
SetSimilaritySearch==0.1.7
setuptools-git==1.2
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.14.0
sklearn-pandas==1.6.0
smart-open==1.5.7
snowballstemmer==1.2.1
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.8
spacy==2.2.4
Sphinx==2.4.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.2.0
spyder==3.3.3
spyder-kernels==0.4.2
SQLAlchemy==1.3.13
srsly==1.0.2
statsmodels==0.9.0
stevedore==1.28.0
sympy==1.3
tables==3.5.1
tblib==1.3.2
tensorboard==2.1.1
tensorflow-estimator==2.1.0
tensorflow-gpu==2.4.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.4
textacy==0.6.1
thinc==7.4.0
tldextract==2.2.2
toolz==0.9.0
toposort==1.5
torch==1.4.0
torchtext==0.2.3
torchvision==0.2.0
tornado==6.0.4
tqdm==4.42.1
traitlets==4.3.2
tree-sitter==0.1.0
typing==3.6.4
typing-extensions==3.7.4.1
ujson==1.35
unicodecsv==0.14.1
Unidecode==1.0.22
urllib3==1.25.8
vega==0.4.4
vega-datasets==0.5.0
vega3==0.13.0
wasabi==0.6.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
wget==3.2
widgetsnbextension==3.5.1
wrapt==1.12.1
wurlitzer==1.0.2
xlrd==1.2.0
XlsxWriter==1.2.7
xlwt==1.3.0
zict==1.0.0
zipp==3.1.0
